body {
    width: 950px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu_ {
    float: left;
    width: 142px;
    /* background-color: orange; */
    background: rgb(210, 210, 210);
    -moz-box-shadow: 4px 4px 10px #888; -webkit-box-shadow: 4px 4px 10px #888; box-shadow:4px 4px 10px #888;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}

li {
    padding: 0;
    margin: 7px;
}

div {
    background-color: white;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding: 10 px;
    margin-top: 1px;
    margin-bottom: 25px;
}

#pwd_register {
	text-decoration: none; /* Les liens ne seront plus soulignés */
    font-family: Times New Roman;
    font-size: 12px;
}

input[type=submit], #btnCancel, #btnDelete, #btnUpdate {
    margin-top: 15px;
    margin-bottom: 30px;
}

a:link, a:hover, a:visited {
    text-decoration: none; /* Les liens ne seront plus soulignés */
    color: blue;
    font-family: Times New Roman;
}

h2 {
    font-style: italic;
    color: black;
    text-align: center;
    background-color: orange;
}

h2:hover { color: yellow; }

h3 {
    font-style: italic;
    color: black;
    text-align: center;
}

h3:hover { color: yellow; }


h1 {
    font-style: italic;
    /* color: black; */
    color: white;
    text-shadow:0 0 8px black;
    text-align: center;
}

#body_ {
    margin-left: 200px;
    margin-right: 3px;
    margin-bottom: 10px;
    padding: 15px;
    color: black;
    border: none;
    text-indent: 10px;
    text-align: justify;
    border-radius: 10px;
    background: rgb(210, 210, 210);
    -moz-box-shadow: 4px 4px 10px #888; -webkit-box-shadow: 4px 4px 10px #888; box-shadow:4px 4px 10px #888;
}

#body_ p {
    text-align: justify;
    font-family: Times New Roman;
    text-indent: 1px;
    line-height: 150%;
}


#body_ h2 {
    font-style: italic;
    text-align: center;
}

#footer_ {
    padding: 5px;
    clear: both;
    text-align: center;
    background-color: rgba(210, 210, 210, 0.8);
    border-radius: 10px;
    font-weight: bold;
}


#header_ {
    padding: 5px;
    clear: both;
    text-align: center;
    background-color: rgba(210, 210, 210, 0.6);
    border-radius: 10px;
}

.error {
	color: #ff0000;
}

.errorblock, #pwdSend, #logError {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding:8px;
    margin:16px;
}